<div xmlns:ttaddr="http://typo3.org/ns/FriendsOfTYPO3/TtAddress/ViewHelper" data-namespace-typo3-fluid="true">

<f:section name="leaflet">

    <f:render section="rendering" arguments="{_all}"/>

    <link rel="stylesheet" href="typo3conf/ext/cal/Resources/Public/Contrib/leaflet-core-1.4.0.css" />
    <script type="text/javascript" src="typo3conf/ext/cal/Resources/Public/JavaScript/leaflet-core-1.4.0.js"></script>
    <script type="text/javascript" src="typo3conf/ext/cal/Resources/Public/JavaScript/Frontend/Leaflet.js"></script>
</f:section>


<f:section name="rendering">
    <div class="row">
			<div class="col-md-3"  itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
            <ul class="list-group">
					<li id="ttaddress__label-{address.uid}" class="ttaddress__label list-group-item" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
						<strong itemprop="name">{address.fullName}</strong><br>
                        <f:render partial="JobOffer/Address" section="address" arguments="{_all}"/>
						<f:render partial="JobOffer/Address" section="contact" arguments="{_all}"/>

                        <a href="#" data-iteration-id="0" class="ttaddress__markerlink">
													<f:translate key="LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:show_on_map"/>
												</a>
                    </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div id="ttaddress__map" data-default-lat="{address.latitude}"
                 data-default-lng="{address.longitude}" style="width:100%;min-height:300px;"></div>
            <ul id="ttaddress__records" style="display: none">
                    <div id="ttaddress__record-{address.uid}" data-id="{address.uid}" data-lat="{address.latitude}"
							 itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization"
                         data-lng="{address.longitude}" data-icon="icon">
						<h6 itemprop="name" name>{address.fullName}</h6>
						<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <f:render partial="JobOffer/Address" section="address" arguments="{_all}"/>
                        </div>
						<f:render partial="JobOffer/Address" section="contact" arguments="{_all}"/>

                    </div>
            </ul>
        </div>
    </div>
</f:section>
</div>
