<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
			xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  xmlns:ttaddr="http://typo3.org/ns/FriendsOfTYPO3/TtAddress/ViewHelper" data-namespace-typo3-fluid="true">
<div class="tp3_jobs col-md-12" itemscope itemtype="http://schema.org/JobPosting">
	<h2 itemprop="title">{jobOffer.title}</h2>

	<div class="description col-md-12" itemprop="description">
		<f:format.html>	{jobOffer.descr}</f:format.html>

	</div>
	<div class="responsibilities col-md-6" itemprop="responsibilities">
		<f:format.html>	{jobOffer.tasks}</f:format.html>

	</div>
	<div class="qualifications col-md-6" itemprop="qualifications">
		<f:format.html>	{jobOffer.qualification}</f:format.html>

	</div>


	<f:if condition="{jobOffer.jobaddress}">
		<f:then>
			<div class="location ">

				<n:extensionLoaded extensionKey="tt_address">
					<f:render partial="JobOffer/Maps" section="leaflet" arguments="{address:jobOffer.jobaddress, settings:settings}" />
				</n:extensionLoaded>
			</div>
		</f:then>
		<f:else>
			<f:if condition="{jobOffer.contactaddress} != ''">

				<div class="job_contact" >
					<div class="postal">
					  <span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
						<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<span itemprop="addressLocality">{jobOffer.contactaddress}</span> </span></span>
					</div>

					<p class="telecom"><span class="tel">{jobOffer.contacttel}</span><br>
						<span class="email"> {jobOffer.contactmail}</span></p>
				</div>
			</f:if>
		</f:else>
	</f:if>

	<span itemprop="datePosted"><f:format.date format="Y-m-d H:i:s">{jobOffer.date}</f:format.date></span><br>
	<span itemprop="identifier">{jobOffer.refid}</span>
</div>
<n:extensionLoaded extensionKey="rx_shariff">
	<f:render partial="JobOffer/Shariff" />
</n:extensionLoaded>
</html>

